.landing {
  background-image: url('https://images.pexels.com/photos/196655/pexels-photo-196655.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
}
body {
  background: #4b515d;
}
.reachLogo {
  font-size: 1.75rem;
}
.avatar {
  height: 5rem;
  width: 5rem;
}
.wrapper {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
  margin: auto !important;
  padding: 0px;
}

/* emoji stuff */
.smilyPic{
    height: 50px;
    width: 50px;
}
.smilyPic:hover {
  cursor: pointer;
}
.smilyPic:active {
  transform: scale(.9);
}

.emoji-picker-react,.emoji-group::before{
  background:linear-gradient(40deg, #393E46, #222831) !important;
  color: coral!important;
}
.emoji-search{
  background: #4b515d!important;
  color: coral!important;
}
.modal-body{
  background: black;
  padding: 0 ;
  border-radius: 20px!important;
}
aside{
  width: auto!important;
}
/* end emoji stuff */

.roundedz {
  border-radius: 10px;
}
.lightBGcolor {
  background-color: #4b515d;
}
.mediumBGcolor {
  background-color: #393e46;
}
.darkBGcolor {
  background-color: #222831;
}
.prim {
  color: orange;
}
.sec {
  color: #29a19c;
}
.peach-gradient{
  float: right;
}

