.landing {
  background: url('https://images.pexels.com/photos/196655/pexels-photo-196655.jpeg')
    no-repeat center center/cover;
  position: relative;
  height: calc(100vh - 100px);
}
body {
  /* background: url('https://www.toptal.com/designers/subtlepatterns/patterns/dot-grid.png'); */
  background: #4b515d;
}
.reachLogo {
  font-size: 1.75rem;
}
.avatar {
  height: 5rem;
  width: 5rem;
}
.wrapper {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
  margin: auto !important;
  padding: 0px;
}

/* Google fonts test */
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Bebas+Neue|Oswald|Press+Start+2P&display=swap');
h1,
h2,
h3,
h4,
h5,
p,
li {
  /* font-family: 'DM Serif Display', serif; */
  /* font-family: 'Press Start 2P', cursive; */
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Bebas Neue', cursive;
  /* font-family: 'Baloo Bhai', cursive; */
}
